---
apiVersion: v1
kind: ConfigMap
metadata:
  name: httpd_virthost_docdb_ssl_conf
data:
  docdb.conf: |-
    <VirtualHost *:80>
        ServerName {{ service_domain_name }}
        Redirect / https://{{ service_domain_name }}/
    </VirtualHost>

    <VirtualHost *:443>
        Protocols h2 http/1.1
        ServerName {{ service_domain_name }}:443

        #BEGIN: Section for {{ docdb_project_name }} DocDB instance
        Alias  /{{ docdb_project_name }}/Static "/usr/local/apache2/htdocs/Static"
        <Directory "/usr/local/apache2/htdocs/Static">
            Order allow,deny
            Allow from all
            Require all granted
        </Directory>
    
        Alias /{{ docdb_project_name }}/docs "/usr/local/apache2/htdocs/documents"
        <Directory "/usr/local/apache2/htdocs/documents">
            Order allow,deny
            Allow from all
            Require all granted
            AuthType Basic
            AuthName "{{ docdb_project_name }}"
            AuthUserFile /usr/local/apache2/pvt/.htpasswd
            Require user "{{ mysql_user }}" "{{ docdb_db_user_rw }}" "{{ docdb_db_user_ro }}"
        </Directory>
    
        ScriptAlias /{{ docdb_project_name }}       "/usr/local/apache2/cgi-bin"
        <Directory "/usr/local/apache2/cgi-bin">
            Options Indexes FollowSymLinks ExecCGI
            AddHandler cgi-script .pm
            DirectoryIndex DocumentDatabase
            Order allow,deny
            Allow from all
            AuthType Basic
            AuthName "{{ docdb_project_name }}"
            AuthUserFile /usr/local/apache2/pvt/.htpasswd
            Require user "{{ mysql_user }}" "{{ docdb_db_user_rw }}" "{{ docdb_db_user_ro }}"
        </Directory>
        #END: Section for {{ docdb_project_name }} DocDB instance

    </VirtualHost>