---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-db-secrets
type: Opaque
data:
  username:  {{ mysql_user | b64encode }}
  password:  {{ mysql_password | b64encode }}
  root_password: {{ mysql_root_password | b64encode }}
---
apiVersion: v1
kind: Pod
metadata:
  name: mediawiki
spec:
  securityContext:
    seLinuxOptions:
      type: spc_t
    capabilities:
      drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE

  containers:
    - name: mysql
      image: docker.io/library/mysql:{{ mysql_version }}
      env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-db-secrets
              key: root_password
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-db-secrets
              key: username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-db-secrets
              key: password
        - name: MYSQL_DATABASE
          value: {{ mysql_database }}
      volumeMounts:
        - name: mediawiki-db-volume
          mountPath: /var/lib/mysql
        - name: mediawiki-db-init-volume
          mountPath: /docker-entrypoint-initdb.d

  initContainers:
    - name: initialize-pod-volumes
      image: docker.io/library/busybox
      securityContext:
        runAsUser: 0
        privileged: true
      command: ["sh", "-c", "chown -R 999:999 /var/lib/mysql"]
      volumeMounts:
        - name: mediawiki-db-volume
          mountPath: /var/lib/mysql

  volumes:
    - name: mediawiki-db-volume
      hostPath:
        path: /var/lib/{{ vars.service_name }}/data/db
        type: Directory
    - name: mediawiki-db-init-volume
      hostPath:
        path: /var/lib/{{ vars.service_name }}/data/docker-entrypoint-initdb.d
        type: Directory
    - name: mediawiki-data-volume
      hostPath:
        path: /var/lib/{{ vars.service_name }}/data/w
        type: Directory
    - name: podman-socket-volume
      hostPath:
        path: /run/user/{{ vars.service_uid }}/podman
        type: Directory
