# Commenting out for network
# Could be useful in init-container
#---
#apiVersion: v1
#kind: Secret
#metadata:
#  name: db-secrets
#type: Opaque
#data:
#  mysql_user:  {{ mysql_user | b64encode }}
#  mysql_password:  {{ mysql_password | b64encode }}
#  mysql_root_password: {{ mysql_root_password | b64encode }}
#---
#apiVersion: v1
#kind: Secret
#metadata:
#  name: mediawiki-secrets
#type: Opaque
#data:
#  mediawiki_admin_user:  {{ mediawiki_admin_user | b64encode }}
#  mediawiki_admin_pass:  {{ mediawiki_admin_pass | b64encode }}
---
apiVersion: v1
kind: Pod
metadata:
  name: mediawiki
spec:
  securityContext:
    seLinuxOptions:
      type: spc_t
    capabilities:
      drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE


  containers:
    - name: mediawiki
      image: docker.io/library/mediawiki:{{ mediawiki_version }}
      ports:
      - containerPort: 80
        hostPort: 80880
        protocol: tcp
      volumeMounts:
        - name: mediawiki-data-volume
          mountPath: /var/www/html/images
        - name: mediawiki-localsettings_php-volume
          mountPath: /var/www/html/LocalSettings.php
          subPath: LocalSettings.php


  volumes:
    - name: mediawiki-data-volume
      hostPath:
        path: /var/lib/{{ vars.sysacct_name }}/data/images
        type: Directory
    - name: mediawiki-localsettings_php-volume
      configMap:
        name: localsettings_php
